<div class="overflow-x-auto">
  <div class="overflow-x-auto">
  <table class="table table-zebra">
    <thead>
      <tr>
        <th>Article</th>
        <th>Name</th>
        <th>Is set</th>
      </tr>
    </thead>
    <tbody hx-confirm="Are you sure?" hx-target="closest tr" hx-swap="outerHTML swap:1s">
    {{range .payload }}
      <tr>
        <td>{{.Article}}</td>
        <td>{{.Name}}</td>
        <td>{{.IsSet}}</td>
        <td><button class="btn btn-warning" hx-delete="/items/{{.Article}}">Delete</button></td>
      </tr>
    {{end}}
    </tbody>
  </table>
</div>
</div>